<div class="container custom-container">
  <!-- Error msg -->
    <div class="alert alert-danger" *ngIf="errorMessage">
      <strong>Error!</strong> {{errorMessage}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Successful msg -->
    <div class="alert alert-success" *ngIf="infoMessage">
      <strong>Successful!</strong> {{infoMessage}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div *ngIf="dataSource">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col col-xs-6">
              <h3 class="panel-title">All Employees</h3>
            </div>
            <div class="col col-xs-6 text-right">
              <button type="button" class="btn" (click)="createNewEmployeeRequest()">
                  <mat-icon>add_circle</mat-icon></button>
            </div>
          </div>
          
          </div>
         <div class="container search-box ">
            <input  (keyup)="applyFilter($event.target.value)" matInput placeholder="Search...">
         </div>
         
        
        <!-- Data Table -->
        <div class="card-body">
            
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Id</th>
              <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>
  
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>
  
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
                <td mat-cell *matCellDef="let element">{{element.phone}}</td>
              </ng-container>
              <ng-container matColumnDef="supervisor">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Supervisor</th>
                  <td mat-cell *matCellDef="let element">{{element.supervisor}}</td>
                </ng-container>
  
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
              <td mat-cell *matCellDef="let element" style="width:140px;">
                <a class="btn btn-warning custom-btn-link" (click)="editEmployeeRequest(element)"><em class="glyphicon glyphicon-pencil"></em></a>
                <a class="btn btn-danger custom-btn-link" (click)="deleteEmployeeRequest(element)"><em class="glyphicon glyphicon-trash"></em></a>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <!-- paging -->
          <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Create/ Update Form -->
  <div class="modal fade" id="employeeModal" #employeeModal tabIndex="-1" role="dialog" aria-labelledby="employeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form name="form-employee-update" (ngSubmit)="f.form.valid && saveEmployee()" #f="ngForm" novalidate>
          <div class="modal-header">
            <h5 class="modal-title">Employee Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <!-- Error Msg -->
            <div class="alert alert-danger" *ngIf="errorMessage">
              <strong>Error!</strong> {{errorMessage}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
  
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
              <label for="name">Employee Name</label>
              <input type="text" class="form-control input-text-custom" id="name" name="name" [(ngModel)]="selectedEmployee.name" #name="ngModel" required />
              <div *ngIf="f.submitted && !name.valid" class="help-block">Employee name is required.</div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
                <label for="phone">Employee Phone</label>
                <input type="text" class="form-control input-text-custom" id="phone" name="phone" [(ngModel)]="selectedEmployee.phone" #phone="ngModel" required />
                <div *ngIf="f.submitted && !phone.valid" class="help-block">Employee phone is required.</div>
              </div>
            <!-- TODO: add supervisor later -->
  
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !supervisor.valid }">
                <label for="supervisor">Supervisor</label>
                <input type="text" class="form-control input-text-custom" id="supervisor" name="supervisor" [(ngModel)]="selectedEmployee.supervisor" #supervisor="ngModel" required />
                <div *ngIf="f.submitted && !supervisor.valid" class="help-block">Supervisor is required.</div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  
  <div class="modal fade" id="deleteModal" #deleteModal tabIndex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            Are you sure to delete <strong>{{selectedEmployee.name}}</strong>?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="deleteEmployee()">I'm sure.</button>
          </div>
      </div>
    </div>
  </div>
  