table {
    width: 100%;
  }
  
  /* .custom-container {
    margin-left: 100px;
    margin-top: 60px;
    width: calc(100% - 100px);
  } */
  .custom-container {
    margin-left:15%;
    width: 85%;
  }
  

  
  .custom-btn-link{
    margin-left: 5px;
    color: #fff;
  }
  
  .custom-btn-link .glyphicon{
    color: #fff;
  }
  
  .custom-mat-cell{
    width: 120px;
  }
  
  .search-box{
    border: 3px solid #00B4CC;
    height: 27pt;
    
  }

  .help-block, .alert-danger{
    background-color: red;
    color: white;
    padding-left: 3px;
    font-weight: bold;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }

  